.centered-card-Admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .login-container-Admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  